# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Build output
dist/
build/
lib/
*.tsbuildinfo

# Tests coverage
coverage/
.nyc_output/

# TypeScript
*.d.ts.map
*.js.map

# Editors & IDEs
.vscode/
.idea/
*.swp
*.swo

# OS-specific
.DS_Store
Thumbs.db

# Env files
.env
.env.local
.env.*.local

# Logs
*.log

# Package managers cache
.pnpm-store/
.yarn/cache/
.yarn/unplugged/
.yarn/build-state.yml
.yarn/install-state.gz

# Turbo / NX
.turbo/
nx-cache/

# Misc
.temp/
.cache/

# Vitest cache
.vitest/